#page {
    font-family: 'Staatliches';
    font-weight: bold;
    border-style: solid;
    border-width: 5px;
    border-color: #1e1d44;
    width: 98%;
    margin-top: 1.3%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#displayTitle {
    font-size: 30px;
    color: #123456;
    margin-top: 30px;
    text-align: center;
}

.general {
    font-size: 20px;
    color: #001f83;
    text-align: center;
}

.number {
    font: 20px normal;
    color: #d81042;
}

.buyButton {
    background-color: #13e40b;
    border: 5px solid #000000;
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
